<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">‎ ‎ &copy; 2022 Marco Caggianiello</h6>
  <!--target="_blank" opens link in new tab -->
  <div id="footerlinks">
    <a href="https://www.linkedin.com/in/marco-caggianiello-587148221/" target="_blank">
      <img alt="linkedin" src="Assets/images/linkedin.png" width="50" height="50">
    </a>
      <a href="https://github.com/marcocagg" target="_blank">
      <img alt="github" src="Assets/images/github.png" width="50" height="50">
    </a>
  </div>
</nav>