<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <div id="aboutmehead">
    <h1>About Me</h1>
  </div>
  <br>

  <div id="pfpam">
    <img src="Assets/images/me2.png" alt="ProfilePic">
  </div>

  <div id="middle">
    <p>How's it going, my name is Marco Caggianiello.</p>
    <p>I am 19 and currently in my second year at Ontario Tech University studying Networking and IT Security.</p>
    <p>Im hoping to improve a lot during my time in university, specifically my programming and networking skills.</p>
    <p>Some of my interests include music, movies, video games, and American football.</p>
    <p>My favourite team is the Atlanta Falcons.</p>
  </div>

  <div id="video">
    <video width="100%" height="100%" controls poster="Assets/images/cover.jpg">
      <source src="Assets/images/About.m4v" type="video/mp4">
      <source src="Assets/images/About.ogv" type="video/ogg">
      Your browser doesn't support the video tag.
    </video>
  </div>
  <br><br><br><br>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>