<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <div id="banner">
                <h1>My Projects</h1>
            </div>

            <div id="post">
                <img alt="post1" src="Assets/images/post1.png" width="100" height="100">
                <h2>Currency Converter</h2>
                <p>Simple currency converter using a graphical interface and the Forex-Python Library API to utilize current conversion rates.</p>
                <p>Languages Used: Python, PySimpleGUI</p>
            </div>

            <div id="post2">
                <img alt="post2" src="Assets/images/post2.png" width="100" height="100">
                <h2>Reservation System</h2>
                <p>A restaurant reservation system made for a school project that integrated the use of databases and a graphical interface.</p>
                <p>Languages Used: Python, SQLite3, Tkinter</p>
            </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>